.groupImg {
  //   objectfit: "cover";
  // aspectratio: "2.5/2";
  //   width: "20%";
  //   margin: "0 50px";
  //   objectposition: "center";
  //   cursor: "pointer";
  width: 35%;
  height: 35%;
  aspect-ratio: 1/1;
}

@media (max-width: 767px) {
  .groupImg {
    width: 100%;
  }
}
