.idolBox:hover .textBox {
  visibility: visible;
  background-color: black;
  transition: all 0.35s;
}

.groupImg {
  border-radius: 20%;
  object-fit: cover;
  aspect-ratio: 1/1;
  margin: 0 auto;
  width: 100%;
}
