.calendarContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box {
  width: 100px;
  height: 100px;
  background-color: red;
  transform: translateY(0);
}

.box.animated {
  animation: example 1s linear;
}

@keyframes example {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(200px);
  }
}

.calendar {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendarWrap {
  padding-top: 75px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .idolName {
    align-self: flex-start;
    display: flex;
    p {
      margin: 5px;
      font-size: 40px;
      &:nth-child(2) {
        font-size: 20px;
        line-height: 60px;
        color: grey;
      }
    }
  }
}
.nextSchedule {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}
.nextSchedule_LeftWrapper {
  margin: 0 auto;
  padding: 20px 10px;
  span {
    margin-left: 10px;
  }
}
.nextSchedule_LightWrapper {
  padding: 20px 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.todaySchedule_List {
  padding: 0;
}
.todaySchedule_Item {
  list-style: none;
}

.nextSchedule_Title {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nextSchedule_Icon {
  width: 50px;
  height: 50px;
}
.nextSchedule_Content {
  font-family: Cafe24Ssurround;
  font-size: 1.8rem;
}
.nextSchedule_ContentList {
  color: #000;
  margin-left: 10px;
  font-size: 0.8rem;
}

.nextSchedule_List {
  margin-top: 30px;
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}
.nextScheduleItem {
  min-width: 340px;
  max-width: 600px;
  width: 70%;
  box-sizing: border-box;
  background-color: #efeff1;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-family: NanumSquareRound;
    font-size: 1rem;
  }

  @media (max-width: 376px) {
    width: 70vw;
    span {
      font-size: 1rem;
    }
  }
}
.nextscheduleIcon {
  width: 40px;
  height: 40px;
}

.reportBtn {
  align-self: flex-end;
  background-color: #4856ff;
  color: white;
  border: 0px;
  border-radius: 10px;
  padding: 13px 20px 13px 20px;
  font-size: 1rem;
  font-weight: bold;
  right: 14%;
  position: relative;
}

@media (max-width: 768px) {
  .calendarWrap {
    padding-top: 75px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .idolName {
      p {
        font-size: 30px;
        &:nth-child(2) {
          font-size: 10px;
          line-height: 60px;
          color: grey;
        }
      }
    }
  }

  .nextSchedule_List {
    width: 100%;
    padding: 0 2vw;
  }
  .nextScheduleItem {
    span {
      font-size: 0.8rem;
      font-family: NanumSquareRound;
    }
  }
}
