// @import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.mainVideo {
  width: 100vw;
  height: 530px;
  object-fit: cover;
  // position: sticky;
  top: 0;
}

/* width : total number of slides (9) * individual slide width (250px) */

.slideBox {
  display: flex;
  &:hover {
    animation-play-state: paused;
  }
}

/* artistSection */

.artistImage {
  width: 90%;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  border-radius: 20%;
  object-fit: cover;
  margin: 0 auto;
  object-position: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .artistFontWrapper {
    margin-top: 2.5vw;
  }

  .artistImage {
  }
  .artistName {
    padding: 0;
    margin-top: 1vh;
    font-size: 2.2vw;
  }
  .artistFont {
    font-size: 2.2vw;
  }
  .artistImage {
    max-width: 150px;
    max-height: 150px;
    height: 65%;
    width: 85%;
  }
}
