// @import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.home {
  width: 100%;
  background: white;
}

.mainVideo {
  width: 100vw;
  height: 500px;
  object-fit: cover;
  // position: sticky;
  top: 0;
}

/* width : total number of slides (9) * individual slide width (250px) */

.slideBox {
  display: flex;
  &:hover {
    animation-play-state: paused;
  }
}

// .slide {
//   height: 150px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   margin-right: 20px; // Add margin to create a gap between divs
//   perspective: 100px;
// }

.slideBot {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
}

// change

/* artistSection */

.artistImage {
  width: 200px;
  height: 200px;
  border-radius: 50px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.artistImageWrapper {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4rem;
}

@media (max-width: 768px) {
  .subTitle {
    margin-top: 2.5vw;
  }
  .mainTitle {
    margin-top: 4vh;
    width: 100%;
    p {
      font-family: Cafe24Ssurround;
      font-size: 4.5vw;
      margin: 20px 0;
      text-align: center;
      line-height: 2.5vh;
      letter-spacing: -1.55px;
    }
  }
  .artistFontWrapper {
    margin-top: 2.5vw;
  }
  .artistImageWrapper {
    margin-top: 2rem;
  }
  .artistImage {
    width: 16vw;
    height: 16vw;
  }
  .artistName {
    padding: 0;
    margin-top: 1vh;
    font-size: 2.2vw;
  }
  .artistFont {
    font-size: 2.2vw;
  }
  .articleContents {
    width: 70vw;
  }
}
