$btnColor: #4856ff;
$inputColor: #fccec0;

.errorMessage {
  p {
    color: #bf1650;
    position: relative;
    font-size: 0.7rem;
    margin: 0;
  }

  p::before {
    display: inline;
    content: "⚠ ";
  }
}

.buttonDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  button {
    &:nth-child(1) {
      background-color: #a7a8b1;
    }
    background-color: $btnColor;
    color: white;
    border: 0px;
    margin: 50px 40px 0 0;
    border-radius: 30px;
    width: 140px;
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .signUp {
    width: 70vw;
  }

  .signUpContainer {
    .userImg {
      background-color: #a7a8b1;
      z-index: 0;
      width: 130px;

      .imgInner {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }

  .editForm {
    padding: 20px;
    label {
      font-size: 0.7rem;
    }
    select {
      width: 250px;
      height: 22px;
    }
  }

  .errorMessage {
    height: 20px;
    margin: auto 0;
  }

  .buttonDiv {
    display: flex;
    button {
      margin: 5vh 20px 0 0;
      width: 120px;
      height: 40px;
    }
  }
}

@media (max-width: 376px) {
  .buttonDiv {
    display: flex;
    button {
      margin: 8vh 20px 0 0;
      width: 100px;
      height: 40px;
    }
  }
  .signUp {
    padding: 10px;
    width: 80vw;
  }
  .editForm {
    padding: 20px;

    select {
      width: 150px;
      height: 17px;
    }
  }
}
